# Node / web-admin
node_modules
dist
.vite
npm-debug.log*

# Android / Gradle
*.iml
.gradle/
local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.keystore
*.jks
!app/debug.keystore
app/google-services.json
artifacts/

# Sistema
.DS_Store
